.App {
    text-align: center;
    background-color: lightgrey;
    border: 3px solid black;
    height: 250px;
    width: 350px;
    margin: 20px auto;
    border-radius: 6px;
}

.counterWindow {
    background-color: deepskyblue;
    border: 3px solid black;
    height: 150px;
    width: 320px;
    margin: 10px auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_block {
    border: 3px solid black;
    height: 50px;
    width: 320px;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-left: 15px;
}
.red_number{
    color: red;
}

